<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDJtIoq3YjXGd6A_Z13_lF7YD6xV6CksiA</string>
	<key>GCM_SENDER_ID</key>
	<string>502073179728</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>alinochka.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-81530</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-81530.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:502073179728:ios:f089af7a19b71443299b55</string>
</dict>
</plist>